<launch>
      <!-- Rosserial node -->
    <arg name="rosserial_port" default="/dev/serial/by-id/usb-1a86_USB_Serial-if00-port0" />
    <arg name="baud" default="57600" />
    <node pkg="rosserial_python" type="serial_node.py" name="$(anon rosserial_node)" output="screen">
        <param name="port" value="$(arg rosserial_port)" />
        <param name="baud" value="$(arg baud)" />
    </node>

    <!-- Long. and speed tether sensor -->
    <node pkg="as5600_sensor" type="sensor_test.py" name="$(anon sensor_as5600_node)" output="screen">
    </node>

    <!-- Motor node -->
    <arg name="motor_port" default="/dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0" />
    <include file="$(find motor_rmd)/launch/rmd_motor_controller.launch">
        <arg name="port" value="$(arg motor_port)" />
    </include>    

</launch>
