<launch>
    <!-- Definir los argumentos -->
    <arg name="port" default="/dev/ttyUSB0" />
    <arg name="baud" default="57600" />
    

    <!-- Rosserial node -->
    <node pkg="rosserial_python" type="serial_node.py" name="$(anon rosserial_node)" output="screen">
        <param name="port" value="$(arg port)" />
        <param name="baud" value="$(arg baud)" />
    </node>

    <node pkg="as5600_sensor" type="sensor_test.py" name="$(anon sensor_as5600_node)" output="screen">
    </node>
    
    <arg name="port2" default="/dev/ttyUSB1" />
    <include file="$(find motor_rmd)/launch/rmd_motor_controller.launch">
        <arg name="port" value="$(arg port2)" />
    </include>    

</launch>
